# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo/

# expo
.expo/
dist/
web-build/
expo-env.d.ts.bak

# native
/ios
/android
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# builds
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
